body {
    background-image: url("/static/background_green.jpg");
    background-size: cover;

    justify-content: center;
    align-items: center;
    height: 100vh;
}

.gif-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.gif-image {
    width: 600px; /* set the width of the GIF */
    height: 600px; /* set the height of the GIF */
    background-image: url('/static/test_welcome.gif');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.bottom-sentence {
  position: fixed;
  bottom: 10;
  left: 50%;
  transform: translateX(-50%);
}

.field {
  display: inline-block;
  margin-right: 10px;
}

input[type="submit"] {
  background-color: #6B0581;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.left-button {
  margin-left: 300px;
}

.right-button {
  margin-left: 20px;
}

.showdata-button {
  background-color: #050E81;
  margin-left: 20px;
}

.popup {
  position: relative;
  top: calc(50% + 100px);
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-height: 80%;
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 2;
  overflow-y: scroll;
}