<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <title>Welcome Tester</title>
    <div class="gif-container">
    <div class="gif-image"></div>
</div>

</head>
<body>
 <div class="container">
    <h1>Welcome Tester</h1>
 </div>
</body>
    <button onclick="window.location.href='/login'">Sign-in</button>
    <br>
    <br>
    <br>
    <div class="bottom-sentence">Powered by Shmuel Kaufmann, SQLabs DevOps course, May 2023</div>
</html>